.lp_scroll {
    position: relative;
    width: 100vw;
    height: 100vh;
    z-index: 3;
}

.lp_contain {
    width: 970px;
    margin: auto;
    padding: 60px 0 115px;
    position: relative;
    z-index: 3;
}

@media (max-width: 1024px) {
    .lp_contain {
        width: 100%;
    }
}