@import url('https://fonts.googleapis.com/css2?family=Saira:wght@300;400;500;600;700;800&display=swap');

* {
  box-sizing: border-box;
}

.scroll_button_position {
  position: absolute;
  left: 50%;
  transform: translateY(-50%);
  bottom: 56px;
}

.center_position {
  display: flex;
  align-items: center;
  justify-content: center;
}

.group {
  position: relative;
}