@import url('https://fonts.googleapis.com/css2?family=Saira:wght@300;400;500;600;700;800&display=swap');

html {
  font-family: 'Saira', sans-serif;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}